@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--primary: #6be1ff;
	--link: #0224ff;
}
@layer utilities {
}

@layer base {
	* {
		border-color: var(--foreground);
	}
	html,
	body {
		height: 100%;
		min-width: 20rem;
	}

	body {
		color: var(--foreground);
		background: var(--background);
		font-family: Arial, Helvetica, sans-serif;
	}
}
